/*
    Blacks and Whites
*/
$black-1: #828282;
$black-2: #333;
$black-3: #495057;
$gray-1: #bebebe;
$gray-2: #bdbdbd;
$gray-3: #e0e0e0;
$white: #fff;

/*
    Blues
*/
$light-blue: #c2dbfe;
$blue: #3d9df5;

/*
    Red
*/
$danger: #e77777;
